
.vs/ImageFilters/v16/.suo
*.gif
*.css
*.xslt
*.suo
*.exe
*.manifest
*.config
*.dll
*.user
*.txt
*.pdb
*.cache
*.tlog
*.resources
ImageFilters/Properties/AssemblyInfo.cs
ImageFilters/Properties/Resources.Designer.cs
ImageFilters/Properties/Settings.Designer.cs
*.settings
ImageFilters/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ImageFilters/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ImageFilters/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.CopyComplete
ImageFilters/Properties/Resources.resx
ZGraphTools/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ZGraphTools/Properties/AssemblyInfo.cs
ZGraphTools/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ZGraphTools/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ImageFilters/obj/Debug/build.force
